@import 'app.config.styl'
@import 'oocss.styl'
@import 'buttons.styl'

/*
 *	HEADER CSS
 *	============
 */
.Header
	background-color $co_white
	display block
	max-width 100%
	position fixed
	width 100%
	z-index 101
.Panal
	background url("../img/home/fondopanal.png") no-repeat
	background-size cover
	height 100vh
	max-height 100vh
	max-width 100%
	position relative
	width 100%
.navbar-form
	margin-top 10px
.Header__nav
	background-color $co_white
	line-height 60px
	margin-bottom 5px
	width 100%
	max-width 100%
	figure
		margin-top -5px
.btn-header-menu
	color $co_orange_primary
	font-size 1.2em
	letter-spacing .8px
	border-bottom 1px solid transparent
	&:hover
		color $co_orange_primary
		border-bottom 1px solid $co_orange_primary
.navbar
	background-color $co_white !important
	border-color transparent !important
	height 50px
	line-height 60px !important
	margin-bottom 0px !important
.navbar-collapse
	background-color $co_white
	border-bottom 3px solid $co_orange_primary !important
.Header__navigation
	margin-right auto
	margin-left auto
	margin-top 90px
	position absolute
.Header__footer
	background url('../img/home/Linea_imagen.png') repeat-x center center
	background-size cover
	bottom -2px
	height 60px
	left 0px
	max-width 100%
	position absolute
	right 0px
	width 100%
	z-index 999
.Slider
	background-color $co_ligth_gray
	height 600px
	max-width 100%
	width 100%
	img
		height 600px
		max-height 600px
		width 100%
		max-width 100%
.slider-description
	color $co_orange_primary
	letter-spacing 1px
	position absolute
	text-transform uppercase
	text-shadow 1px 1px 3px #8C413A
	top 250px
	z-index 999
.History
	background-color $co_white
	max-width 100%
.Map
	background-color $co_orange_primary
	max-width 100%
	width 100%
.Links
	background-color $co_ligth_gray
	height 60px
	line-height 60px
	max-width 100%
	width 100%

.Header__fixed
	background-color white
	display none
	max-width 100%
	position fixed
	width 100%
	z-index 100
.btn-header-menu-fixed
	color $co_orange_primary
	font-size 1.2em
	letter-spacing .8px
	border-bottom 1px solid transparent
	&:hover
		color $co_orange_primary_dark
		border-bottom 1px solid $co_orange_primary_dark


/*
 *	PANAL MENU
 *	================
 */
.panalContainer
	width 339px
	height 319px
	display block
	top 60px
	background url('../img/home/Logo_gris.png') center center no-repeat
	position relative
	a
		width 103px
		height 119px
		display block
		position absolute
		opacity 0.9
		&:hover
			opacity 1
			transform scale(1.1)
	div
		h3
			position absolute	
			opacity 0
			text-shadow -1px -2px #fff
			transition all 1s ease
		&:hover h3
			text-shadow 0px 1px 2px #999
			opacity 1
.profileIcon
	a
		&.icon
			background url('../img/home/Profile.png')
			top 0
			left 58px
	h3
		top 20px
		left -35px
.calendarioIcon
	a
		&.icon
			background url('../img/home/Calendario_icon.png')
			top 0
			left 179px
	h3
		top 20px
		left 310px
.bdIcon
	a
		&.icon
			background url('../img/home/BD_Icon.png')
			top 100px
			left 0
	h3
		top 125px
		left -120px
.socialIcon
	a
		&.icon
			background url('../img/home/Red_social_icon.png')
			top 100px
			left 236px
	h3
		top 125px
		left 370px
		width 200px
.videoIcon
	a
		&.icon
			background url('../img/home/Video_icon.png')
			top 200px
			left 58px
	h3
		top 225px
		left -80px
		width 120px
.foroIcon
	a
		&.icon
			background url('../img/home/Foro_icon.png')
			top 200px
			left 179px
	h3
		top 225px
		left 310px
.bihaivModulo
	h1
		text-align center
		border-bottom 1px solid #666
		&.txt-white
			color white
			border-bottom 1px solid white
.panalContainer
	div
		&.popover
			top 0px !important
			background-color rgb(255,255,255) !important
			a
				&:hover
					transform scale(1)
			&.position-roles
				left -300px !important
				top -50px !important
				background-color rgb(255,255,255) !important
			&.position-expertises
				left -339px !important
				top 100px !important
				background-color rgb(255,255,255) !important
			&.position-library
				left -300px !important
				top 180px !important
				background-color rgb(255,255,255) !important
			&.position-calendar
				left 350px !important
				top -50px !important
				width 414px !important
				background-color rgb(255,255,255) !important
			&.position-forum
				left 350px !important
				top 200px !important
				width 414px !important
				background-color rgb(255,255,255) !important
			&.position-map
				left 415px !important
				top 80px !important
				width 414px !important
				background-color rgb(255,255,255) !important
		a
			&.icon
				transform scale(1)
				&:hover
					transform scale(1.3)

/*
 *	LOGIN
 *	===========
 */
.body-login
	background-image url('../img/home/login.jpg')
	background-size cover
.Header__login
	background-color transparent
	height 60px
	line-height 60px
	width 100%
	max-width 100%
.Form__login
	background-color rgba($co_black, .7)
	border-radius 2px
	margin-top 120px
	overflow hidden
	padding 20px
	width 400px
	label
		color $co_ligth_gray
	&.large
		width 100%
	&.margin-top-min
		margin-top 35px
	
.slide_history
	height 100vh
	iframe
		height 100%
		max-height 100%