.bg-white
	background-color $co_whites
.bolder
	font-weight bolder
.co_primary
	color $co_orange_primary
.display-inline
	display inline-block
.figure
	margin 0
	padding 0
.fontSizeMedium
	font-size 16px
.hidden
	overflow hidden
.icon-lg
	font-size 17px !important
.icon-xl
	font-size 20px !important
.icons
	cursor pointer
.icon-primary
	color $co_orange_primary
	cursor pointer
	font-size 18px !important
.iconMarginRight
	margin-right 5px
.img-rounded
	border-radius 100%
	height 60px
	width 60px
.margin-row-top
	margin-top 20px
.margin-row-bottom
	margin-bottom 20px !important
.margin-left-sm
	margin-left 8px
.menu-active
	background-color $co_orange_primary_dark
.modal-border-radius
	border-radius 5px !important
.no-margin
	margin 0px
.no-padding
	padding 0px !important
.modal-padding
	padding 15px
.no-padding-top
	padding-top 0px
.no-padding-bottom
	padding-bottom 0px
.no-border-radius
	border-radius 0px
.padding-row-sm
	padding 15px
.padding-row-top
	padding-top 30px
.padding-row
	padding 35px 0px
.relative
	position relative
.row-separator
	border-bottom 1px solid #eee
.section-title
	font-family $fo_raleway
	letter-spacing 1px
	margin 0
	padding 0
	hr
		border-color $co_orange_primary
		width 20%
		&.white
			border-color $co_white
.star-rate
	color $co_honey_primary
.transparent
	background-color transparent
.text-center
	text-align center
.margin-left-negative
	margin-left -20px !important
.text-white
	color $co_white
.text-justify
	text-align justify
.text-center
	text-align center
.thin
	font-weight 100 !important
.uppercase
	text-transform uppercase
/*
 *	SHADOWS MATERIAL DESIGN
 *	=========================
 */
.z-depth-1
	box-shadow 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
.z-depth-2
	box-shadow 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
.z-depth-3
	box-shadow 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
.z-depth-4
	box-shadow 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21)
.z-depth-5
	box-shadow 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22)
/*
 *	OVERRIDE BOOTSTRAP
 *	=============================
 */
.nav-tabs
	li
		&.active a
			border-radius 0px !important
.navbar-nav
	li
		a
			&:hover
				background-color $co_white !important
.navbar-form
	margin-top 0px !important
/*
 *	TABLES OVERRIDE
 *	==================
 */
.bihaiv_table
	thead
		background-color $co_orange_primary
		color $co_white
/*
 *	SOCIAL COLORS
 *	=================
 */
.facebook
	color #3b5999
.youtube
	color #cd201f
.twitter
	color #55acee
.linkedin
	color #0077B5