.site-wrapper {
    height: auto;
    position: relative;
    top: 0px;
}
.content-app {
    float: none;
    left: 0px;
    height: 100%;
    /* overflow: auto; */
    padding: 20px;
    padding-bottom: 100px;
    position: relative;
    width: 85%;
    z-index: 100;
    margin: auto;
}
.pull-right{
    margin-right: 20px;
}

.box-logo{
    width: 85%;
    z-index: 100;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.box-img {
    height: 211px;
    background: lightgray;
    margin-top: 4px;
    background-size: cover;
    margin-bottom: 10px;
    background-position-x: center;
    background-position-y: center;
}
.seccion{
    margin-bottom: 50px;
}

#bibliografia{
    min-height: 200px;
}


#files{
    display: none;
    visibility: hidden;
}

.requerido{
    color: #f37064;
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
