.Profile__header{background-color:$co_white;border-top:5px solid $co_orange_primary;height:100px;line-height:100px;max-width:100%;position:relative;width:100%}.breadcrumb-header-actions i{font-size:18px}.Profile__nav{background-color:$co_orange_primary;height:45px;line-height:45px;max-width:100%;width:100%;}.Profile__nav ul{height:45px;margin:0;padding:0;}.Profile__nav ul li{display:inline-block;}.Profile__nav ul li a{color:$co_white;line-height:45px;padding:15px 20px;}.Profile__nav ul li a:hover{background-color:$co_orange_primary_dark}.Profile__cover{background:$co_white;height:315px;max-width:100%;width:100%;}.Profile__cover img{height:315px;margin:0;max-height:315px;max-width:100%;padding:0;width:100%}.Profile__info{background-color:#f5f5f5;height:150px;max-width:100%;position:relative;width:100%}.Profile__info--photo{border:5px solid $co_ligth_gray;height:180px;position:absolute;top:-85px;width:200px;}.Profile__info--photo img{height:100%;width:100%}.Profile__info--title{color:#fff;left:225px;padding:5px;position:absolute;top:-80px}.Role--Profile{font-weight:300;color:$co_white;margin:0;margin-bottom:.5rem;padding:0}.Company--Profile{font-weight:700;color:$co_white;margin:0;margin-bottom:1rem;padding:0;text-transform:uppercase}.Description--profile{color:$co_black;font-size:1em;line-height:24px;margin-top:1em}.Profile__wall{background-color:$co_white;width:100%}.Wall{background-color:$co_white;height:auto;max-width:100%}.Wall__header{background-color:$co_orange_primary;padding:10px 5px;}.Wall__header h3{letter-spacing:1px;margin:0;margin-left:15px;padding:0;}.Wall__header h3 a{color:rgba(0,0,0,0.5)}.Wall__content{height:auto;max-height:400px;overflow-y:auto;}.Wall__content.padding{padding:10px 20px}.Wall__content img.img-initiative{height:130px;max-width:100%}.Wall__content div.social{text-align:center}.title--initiative,.date--initiative,.place--initiative{margin:0;margin-bottom:.5rem}.actors figure{display:inline-block;margin-right:5px}.list-group-item.hoverable{transition:.2s all ease-in-out;}.list-group-item.hoverable:hover{box-shadow:0 5px 17px 0 rgba(0,0,0,0.4);transition:.2s all ease-in-out;z-index:100}.row.hoverable:hover{background-color:$co_ligth_gray}
.upload-button{
    background-color:#ba2323;
    padding:10px;
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    border: solid 1px #831212;
    background-image: linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
    border-radius: 5px;
}
        
.upload-button:hover{
    padding-bottom:9px;
    padding-left:10px;
    padding-right:10px;
    padding-top:11px;
    top:1px;
    background-image: linear-gradient(bottom, rgb(171,27,27) 100%, rgb(212,51,51) 0%);	
}