
.box-img {
    background: lightgray none repeat scroll 0 0 / cover ;
    height: 211px;
    margin-bottom: 10px;
    margin-top: 4px;
}

.seccion {
    margin-bottom: 35px;
}

#files {
    display: none;
    visibility: hidden;
}
