.pull-right{
    margin-right: 20px;
}

.box-img {
    height: 211px;
    background: lightgray;
    margin-top: 4px;
    background-size: cover;
    margin-bottom: 10px;
    background-position-x: center;
    background-position-y: center;
}
.seccion{
    margin-bottom: 35px;
}

#bibliografia{
    min-height: 200px;
}


#files{
    display: none;
    visibility: hidden;
}

.requerido{
    color: #f37064;
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
