.site-menu{
    background-image: url("../img/fondo.jpg");
    background-size: cover;
}
.site-wrapper {
    position: relative;
    top: -10px;
}
.content-app {
    background: white;
}
// Main menu admin
.Menu__list ul li a {
  letter-spacing: 0px;
}
.hamburguer-menu{
  background-color: #f37064;
  border-radius: 50%;
  margin-right: 15px;
  -webkit-transition-duration: 200ms;
  -webkit-transition-property: color, background, opacity;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-duration: 200ms;
  -moz-transition-property: color, background, opacity;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-duration: 200ms;
  -o-transition-property: color, background, opacity;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-property: color, background, opacity;
  &:hover{
    cursor: pointer;
    background-color: #f59f98;
  }
}
// Resposive shit

.content-app{
  @media (max-width: 992px) {
    left: 0%;
    width: 100%;
  }
}

/* PINK movil =============================================================== */


.pink-menu-movil{
  @media (min-width: 769px) {
    width: 50%;
  }

  width: 100%;

  display: none;
  min-height: 100%;
  z-index: 10000;
  background-color: rgba(243,112,100,0.95);
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 3em;
  .header-menu{
    text-align: center;
    color: white;
    #trigger-menu-close{
      position: absolute;
      color: white;
      top: 15px;
      right: 25px;
      font-size: 2em;
      text-decoration: none;
    }
  }
  ul{
    width: 100%;
    margin: 0px;
    padding: 0px;
    li{
      text-align: left;
      border-bottom: solid rgba(255,255,255,0.7) 1px;
      a{
        padding-left: 1em;
        font-family: raleway;
        font-weight: 100;
        font-size: 1.3em;
        line-height: 3em;
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: white;
        -webkit-transition-duration: 200ms;
        -webkit-transition-property: color, background, opacity;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-duration: 200ms;
        -moz-transition-property: color, background, opacity;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-duration: 200ms;
        -o-transition-property: color, background, opacity;
        -o-transition-timing-function: ease-in-out;
        transition-duration: 200ms;
        transition-property: color, background, opacity;
        &:hover{
          background-color: white;
          color: #f37064;
        }
      }
    }
  }
}
/* responsive tables */
.st-head-row{
  background-color: #f39991;
  color: white;
}
.Wall__header{
  h3{
    width: 50%;
  }
}
